@model IEnumerable<Product>

@foreach (Product product in Model)
{
    <div class="product-item mb-50">
        <div class="product-thumb">
            <a asp-controller="product" asp-action="details" asp-route-id="@product.Id">
                <img src="~/assets/img/product/@product.MainImage" alt="">
            </a>
        </div>
        <div class="product-content">
            <h5 class="product-name">
                <a asp-controller="product" asp-action="details" asp-route-id="@product.Id">@product.Title</a>
            </h5>
            <div class="price-box">
                @if (product.DiscountedPrice > 0)
                 {
                    <span class="price-regular">$@(product.DiscountedPrice)</span>
                    <span class="price-old"><del>$@(product.Price)</del></span>

                 }
                else
                {
                    <span class="price-regular">$@(product.Price)</span>
                }




            </div>
            <div class="product-action-link">
                <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                <a class="addTobasket" data-id="@product.Id" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                <a asp-controller="Product" asp-action="ProductModal" asp-route-id="@product.Id" class="productModal" data-toggle="modal" data-target="#quick_view">
                    <span data-toggle="tooltip"
                          title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                </a>
            </div>
        </div>
    </div>

}


